/* Wrapper styling for the product suggestion box */
#free-version.ccs-product-box {
    flex-direction: row !important;
    display: flex;
    align-items: center !important;
    border: 1px solid #ddd;
    padding: 10px;
}

/* Heading styles */
#free-version.ccs-product-box h3 {
    font-weight: bold;
    color: #333;
    /* Match theme heading color */
    margin-bottom: 10px;
}

/* Product description styling */
#free-version.ccs-product-box p {
    margin: 5px 0;
    color: #555;
    /* Match theme text color */
}

/* Image styling */

#free-version.ccs-product-box img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

/* Price or discount styling */
#free-version .ccs-product-price {
    color: red;
    /* Discount color */
    font-weight: bold;
}

/* Toggle container */
#free-version .ccs-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

/* Hide the default checkbox */
#free-version .ccs-toggle-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
#free-version .ccs-toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 25px;
}

/* Slider circle */
#free-version .ccs-toggle-slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Checked state */
#free-version .ccs-toggle-input:checked +  .ccs-toggle-slider {
    background-color: #2196F3 ;
    /* Theme primary color */
}

/* Move the slider circle */
#free-version .ccs-toggle-input:checked+ .ccs-toggle-slider:before {
    transform: translateX(25px);
}

#free-version .ccs-toggle {
    display: inline-block;
    position: relative;
}

#free-version .loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #4caf50;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none; /* Initially hidden */
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
